In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

%matplotlib inline

# Aula

# Desafio

A partir dessas informações, desenvolva um algoritmo utilizando as bibliotecas Seaborn, Pandas e Matplotlib do Python, considerando o arquivo CSV chamado de Gorjetas, para:

## a) criar um gráfico de densidade do total de gorjetas por sexo;

In [3]:
df_gorjetas = pd.read_csv('Dados/Gorjetas.csv')
df_gorjetas

     total_conta  gorjeta    sexo fumante  dia   tempo  quantidade
0          16.99     1.01  Mulher     Não  Dom  Jantar           2
1          10.34     1.66   Homem     Não  Dom  Jantar           3
2          21.01     3.50   Homem     Não  Dom  Jantar           3
3          23.68     3.31   Homem     Não  Dom  Jantar           2
4          24.59     3.61  Mulher     Não  Dom  Jantar           4
..           ...      ...     ...     ...  ...     ...         ...
239        29.03     5.92   Homem     Não  Sab  Jantar           3
240        27.18     2.00  Mulher     Sim  Sab  Jantar           2
241        22.67     2.00   Homem     Sim  Sab  Jantar           2
242        17.82     1.75   Homem     Não  Sab  Jantar           2
243        18.78     3.00  Mulher     Não  Qui  Jantar           2

[244 rows x 7 columns]

In [6]:
df_gorjetas['fumante'] = df_gorjetas['fumante'].map({'Sim' : True, 'Não' : False})
df_gorjetas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   total_conta  244 non-null    float64
 1   gorjeta      244 non-null    float64
 2   sexo         244 non-null    object
 3   fumante      0 non-null      object
 4   dia          244 non-null    object
 5   tempo        244 non-null    object
 6   quantidade   244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

## b) criar um gráfico de densidade do total de gorjetas pela quantidade de pessoas na mesa;

## c) criar um gráfico de densidade do total de gorjetas por dia da semana.

## d) A partir das visualizações criadas nos itens a, b e c, o que se pode avaliar em relação a essa empresa de restaurantes?